.sidebar-menu-main{
    display: flex;
    flex-wrap: wrap;
}

.sidebar-menu-main .nav-link{
    color: black;
    text-decoration: none;    
}

.sidebar-menu-main .nav-link:hover{
    color: var(--accent-color);
}

.sidebar-menu-main .active-nav-link{
    color: var(--accent-color);
}