.drawer .nav-link{
    text-decoration: none;
    color: black;
}

.drawer .nav-link:active{
    font-weight: 900;
    color: var(--accent-color);
}

.drawer .active-nav-link .MuiListItem-root {
    color: var(--accent-color);
    font-weight: 900;
}

.drawer .active-nav-link .css-cveggr-MuiListItemIcon-root{
    color: var(--accent-color);
}